**/.DS_Store
**/.classpath
**/.dockerignore
**/.env*
**/.git
**/.gitignore
**/.project
**/.settings
**/.vs
**/.idea
**/.vscode
**/*~
**/build
**/dist
**/node_modules
**/*.exe
**/*.dll
**/*.so
**/*.dylib
**/*.out
**/tmp
**/temp
**/*.tmp
**/*.temp
**/*.log
license
README*
Makefile
docker-compose*.yml
Dockerfile*
**/tests
**/coverage*
**/.coverage
**/debug
**/__debug*
**/mock*
**/data
**/.cache
**/*.db
**/*.sqlite
**/*.bak
**/postgres-data
**/grafana-data
**/prometheus-data
**/loki-data
**/.devcontainer
*.sh
*.editorconfig
*.gitattributes
media.jpg
*.md
CHANGELOG*
CONTRIBUTING*
AUTHORS*
MAINTAINERS*
.github/
docs/
examples/
scripts/
.cursor/
**/*.test.ts
**/*.spec.ts
**/tsconfig.json
**/postman.json
**/configurations
